<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ext_IronXL_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ext_IronXL_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ext_IronXL_Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="rsDocumentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Spreadsheets
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="rsDocumentDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Spreadsheets" asp-action="ReadExcel">ReadExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Spreadsheets" asp-action="SqlToExcel">SqlToExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Spreadsheets" asp-action="ExportExcel">ExportExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Spreadsheets" asp-action="ConvertFile">ConvertFile</a></li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="rsDocumentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Objects
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="rsDocumentDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="Import">Import</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="DataGrid">DataGrid</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="Update">Update</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="EditMetadata">EditMetadata</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="ProtectExcel">ProtectExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="PrintSetup">PrintSetup</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="rsDocumentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Worksheets
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="rsDocumentDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Worksheets" asp-action="FormulaEditor">Formula</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Worksheets" asp-action="SortExcel">SortExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Worksheets" asp-action="SelectRange">SelectRange</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Worksheets" asp-action="CreateChart">CreateChart</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Worksheets" asp-action="FreezePaneForm">FreezePaneForm</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Worksheets" asp-action="AutoResize">AutoResize</a></li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="rsDocumentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Edit Excel
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="rsDocumentDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Edit" asp-action="InsertRowsColumns">InsertRowsColumns</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Edit" asp-action="GroupUngroup">GroupUngroup</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Edit" asp-action="RepeatRowsColumns">RepeatRowsColumns</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Edit" asp-action="CopyWorksheet">CopyWorksheet</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Edit" asp-action="ProtectExcel">ProtectExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Edit" asp-action="PrintSetup">PrintSetup</a></li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="rsDocumentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Images 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="rsDocumentDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="AddImageToExcel">AddImageToExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="RemoveImages">RemoveImages</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="RepeatRowsColumns">RepeatRowsColumns</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="CopyWorksheet">CopyWorksheet</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="ProtectExcel">ProtectExcel</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="PrintSetup">PrintSetup</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Ext_IronXL_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
