
@{
    ViewData["Title"] = "SqlToExcel";
}

<form asp-action="ExportSqlToExcel" asp-controller="Spreadsheets" method="post">
    <div class="form-group">
        <label>Table Name:</label>
        <input type="text" name="tableName" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Connection String:</label>
        <input type="text" name="connectionString" class="form-control" required
               value="Data Source=.\SQLEXPRESS;Initial Catalog=usersdb;Integrated Security=True" />
    </div>

    <button type="submit" class="btn btn-success mt-2">Export to Excel</button>
</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.Error
    </div>
}